#App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#record {
    height: 75px;
    width: 30vw;
    min-width: 200px;
    font-size: 45px;
    background-color: white;
    border: 0;
    border-radius: 20px;
}

#title {
    font-size: 50px;
    margin: 20px;
}

#height {
    font-size: 40px;
    margin: 10px;
}

@media (max-width: 480px) {
    #record {
        width: 80vw;
    }
}

#highscore {
    font-size: medium;
    margin: 5px;
}
